{{ define "main" }}


<div class="max-w-screen mx-auto pt-4 md:px-10">

  {{ partial "alert" . }}

  {{ partial "tutorial-page-top" . }}

  <div class="mx-4 lg:mx-0 mb-6 pt-12 font-bold text-sm">
    <label class="block">Jump to Content:</label>
    <nav class="flex flex-row items-centerjustify-between mb-0 px-0">
      <a class="mr-4 text-blue hover:underline" href="#core">Core</a>
      <!-- <a class="mr-4 text-blue hover:underline" href="#elective">Elective</a> -->
      <a class="mr-4 text-blue hover:underline" href="#map">Where We've Been</a>
    </nav>
  </div>

  <div class="mb-6 pt-12" id="core">
    <div class="flex flex-row items-center justify-between mb-10 px-4 md:px-0">
      <div class="block">
        <h2 class="text-md font-bold">Core Course Modules</h2>
        <img class="absolute left-0 z-0 hidden lg:block" style="transform:translateY(-75%); width:10vw;" src="/images/tutorials/rnl-core-pattern1.png">
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:flex-wrap md:mx-0 mb:12">


    {{ range where .Site.Pages "Type" "tutorials" }}
      {{ $.Scratch.Set "index" 0 }}

      {{ range .Pages }}

        {{ if .Params.isCore }}
          <div class='flex mb-20 lg:even:flex-row-reverse flex-wrap lg:flex-nowrap md:-mx-4 core-card-{{ $.Scratch.Get "index" }}'>

            {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}

            {{ partial "tutorial-module-card" . }}

          </div>

        {{ end }}
      {{ end }}
    {{ end }}
    </div>
  </div>

  <!-- <div class="max-w-screen mx-auto mb-6 pt-12" id="elective">
    <div class="flex flex-row items-center justify-between mb-10 px-4 md:px-0">
      <div class="block">
        <h2 class="text-md font-bold">Elective Course Modules</h2>
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:flex-wrap md:mx-0 mb:12">
    {{ range where .Site.Pages "Type" "tutorials" }}


      {{ range .Pages }}
        {{ if not .Params.isCore }}
          <div class='flex mb-12 lg:even:flex-row-reverse flex-wrap lg:flex-nowrap md:-mx-4'>
            {{ partial "tutorial-module-card" . }}
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    </div>
  </div> -->

  <div class="mb-20 lg:px-0" id="map">
    {{ partial "tutorial-map" . }}
  </div>

  <div class="mt-8 mb-6 ">
    {{ partial "tutorial-logo-list" . }}
  </div>

</div>

{{ partial "tutorials-footer-top" . }}


{{ end }}
