{{ define "main" }}
{{ $pageTaxonomyName := .Page.Params.taxonomyName }}

<div class="max-w-screen mx-auto pt-4 md:px-10">

  {{ partial "alert" . }}

  {{ partial "tutorial-page-top" . }}

  <div class="mb-6 pt-12" id="core">
    <div class="flex flex-col md:flex-row md:flex-wrap md:mx-0 mb:12">

    {{ $.Scratch.Set "index" 0 }}

    {{ range .RegularPages }}

            <div class='flex mb-20 lg:even:flex-row-reverse flex-wrap lg:flex-nowrap md:-mx-4 core-card-{{ $.Scratch.Get "index" }}'>

              {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}

              {{ partial "tutorial-module-card" . }}

              {{ if eq ($.Scratch.Get "index") 3 }}
                <img class="absolute z-0 right-0 hidden lg:block vector-pattern-right" src="/images/tutorials/rnl-core-pattern2.png">
              {{ end }}
            </div>
            
    {{ end }}


    </div>
  </div>

</div>


{{ end }}
