{{/* Author Details Page => Corresponds to the single.html */}}

{{define "main"}}
  <div class="max-w-screen mx-auto pt-4 px-4 md:px-10">

    <div class="flex flex-col md:flex-row">

      <div class="md:w-1/2 lg:w-1/3 md:pr-4 lg:pr-8">
        {{ range .Resources.Match "avatar" }}
          {{ $image := .Fill "250x250" }}
          <div class="md:inline-block relative mb-4 lg:mb-8 md:-ml-4">
            <img class="absolute block rounded-full mx-auto w-64 h-64 mt-4" src="{{ $image.RelPermalink }}" style="left: 50%; transform: translateX(-50%);">
            <img class="mx-auto w-72 h-72" src="/images/people-bg-mask.png">
          </div>
        {{ end }}

        <h3 class="block text-center md:text-left mb-2 text-grey font-semibold text-md leading-none">{{ .Params.name }}</h3>

        <p class="text-center md:text-left text-sm leading-loose">{{ .Params.email }}</p>

        <p class="text-center md:text-left text-sm leading-tight mb-2">
          <span>{{- .Params.role -}}</span>

          {{ range (index .Params "groups")}}
            <span>/</span>
            {{ with $.Site.GetPage "taxonomy" (printf "/groups/%s" (urlize . )) }}
              <a href="{{ .RelPermalink }}" class="inline-block hover:text-blue capitalize">
                {{ .Title }}
              </a>
            {{ else }}
              {{- . -}}
            {{ end }}
          {{ end }}
        </p>

        <div class="flex flex-row item-center justify-center md:justify-start py-10">
          {{ partial "social-links" . }}
        </div>

        {{ if .Params.education }}
          {{ if .Params.education.courses }}
            <h2 class="font-semibold py-3">Education</h2>
          {{ end }}

          {{ range .Params.education.courses }}
            <div class="mb-4 flex flex-row justify-start items-start">
              <img class="inline-block mr-3 py-3" src="/images/icon/graduation.svg" alt="">
              <div class="inline-block">
                <p class="py-2 leading-tight">{{ .course }}, {{ .year }}</p>
                <p class="text-sm">{{ .institution }}</p>
              </div>
            </div>
          {{ end }}
        {{ end }}

      </div>

      <div class="md:w-1/2 lg:w-2/3">
        {{ if .Params.quote }}
          <p class="font-semibold text-md leading-relaxed pt-8 mb-8">"{{ .Params.quote }}"</p>
        {{ end }}

        <div class="page-content leading-relaxed mb-6">{{ .Content }}</div>

        {{ if .Params.interests }}
          <h2 class="font-semibold mb-2">Areas of Expertise</h2>
          <p class="mb-8">{{ delimit .Params.interests ", "}}</p>
        {{ end }}


        {{ $recentTalks := where .Pages "Type" "talks"}}

        {{ if $recentTalks }}
          <div class="mb-8">
            <div class="flex flex-row items-end justify-between">
                <h2 class="text-bigger font-semibold">Talks</h2>
            </div>

            <div class="flex flex-col md:flex-row md:flex-wrap -mx-4">
              {{ range $recentTalks }}
                <div class="w-full md:w-1/2">
                  {{ partial "talk-card" . }}
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}

        {{ $recentPublications := where .Pages "Type" "publications"}}

        {{ if $recentPublications }}
          <div class="mb-8">
            <div class="flex flex-row items-end justify-between">
                <h2 class="text-bigger font-semibold">Publications</h2>
            </div>

            <div class="flex flex-col flex-wrap md:flex-row -mx-4">
              {{ range $recentPublications }}
                <div class="w-full">
                  {{ partial "publication-card" . }}
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}

        {{ $recentPosts := where .Pages "Type" "posts"}}

        {{ if $recentPosts }}
          <div class="mb-8">
            <div class="flex flex-row items-end justify-between">
                <h2 class="text-bigger font-semibold">Blog posts</h2>
            </div>

            <div class="flex flex-col flex-wrap md:flex-row -mx-4">
              {{ range $recentPosts }}
                <div class="w-full">
                  {{ partial "post-card" . }}
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}

      </div>
    </div>
  </div>
{{ end }}
