{{/* Author Details Page => Corresponds to the single.html */}}

{{define "main"}}
  <div class="max-w-screen mx-auto pt-4 px-4 md:px-10">
    <div class="mb-8 lg:mb-20">
      {{ partial "breadcrumbs" . }}
    </div>

    <div class="flex flex-col md:flex-row">

      <div class="md:w-1/2 lg:w-1/3 md:pr-4 lg:pr-8">
        {{ range .Resources.Match "avatar" }}
          {{ $image := .Fill "250x250" }}
          <img class="mb-4 rounded-full mx-auto w-64 h-64 md:ml-0 lg:mb-8" src="{{ $image.Permalink }}">
        {{ end }}

        <h3 class="text-center md:text-left mb-2 text-grey font-bold text-md leading-none">{{ .Params.name }}</h3>

        <p class="text-center md:text-left text-sm leading-loose">{{ .Params.email }}</p>

        <p class="text-center md:text-left text-sm leading-tight mb-2">
          <span>{{- .Params.role -}}</span>

          {{ range (index .Params "research-groups")}}
            {{ with $.Site.GetPage "taxonomyTerm" (printf "research/groups/%s" (urlize . )) }}
              <span>/</span>
              <a href="{{ .Permalink }}" class="inline-block hover:text-blue hover:underline capitalize">
                {{ humanize .Title }}
              </a>
            {{ else }}
              / {{- . -}}
            {{ end }}
          {{ end }}
        </p>

        <div class="flex flex-row item-center justify-center md:justify-start py-10">
          {{ partial "social-links" . }}
        </div>

        {{ if .Params.education }}
          {{ if .Params.education.courses }}
            <h2 class="font-semibold py-3">Education</h2>
          {{ end }}

          {{ range .Params.education.courses }}
            <div class="mb-4 flex flex-row justify-start items-start">
              <img class="inline-block mr-3 py-3" src="/images/icon/graduation.svg" alt="">
              <div class="inline-block">
                <p class="py-2 leading-tight">{{ .course }}, {{ .year }}</p>
                <p class="text-sm">{{ .institution }}</p>
              </div>
            </div>
          {{ end }}
        {{ end }}

      </div>

      <div class="md:w-1/2 lg:w-2/3">
        {{ if .Params.quote }}
          <p class="font-bold text-md leading-relaxed pt-8 mb-8">"{{ .Params.quote }}"</p>
        {{ end }}

        <div class="page-content leading-relaxed mb-4">{{ .Content }}</div>

        {{ if .Params.interests }}
          <h2 class="font-semibold mb-2 pt-8">Areas of Expertise</h2>
          <p>{{ delimit .Params.interests ", " ", and "}}</p>
        {{ end }}

        {{ if .Pages }}
          <h2 class="font-semibold mb-4 pt-8 hover:underline">Latest work</h2>
          <div class="">
            {{ range .Pages }}
              <a href="{{ .RelPermalink }}" class="block mb-8">
                <p class="text-sm text-gray-600 mb-2">
                  <span>{{ .Date.Format .Site.Params.DateForm }}</span>
                  <span class="text-blue-200">/</span>
                  <span>{{ humanize .Type }}</span>
                </p>

                <h1 class="text-blue text-bigger leading-tight mb-2">{{ .Title }}</h1>

                <p class="multiline-ellipsis-2">{{ .Summary }}</p>
              </a>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
