@import '/assets/css/tooltip.css';

@tailwind base;

@font-face {
  font-family: SourceSansPro;
  font-weight: 100;
  src: url("../fonts/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 400;
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 600;
  src: url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 700;
  src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

/* purgecss ignore */
p + ul, p + ol, p + blockquote  {
  margin-block-start: -0.5em;
}

@tailwind components;

.image-set {
  @apply object-cover object-center inline-block;
}

@responsive {
  .column-count-auto {
    column-count: auto;
  }

  @for $i from 1 to 8 {
    .column-count-$i { column-count: $(i); }
  }

  @for $i from 1 to 8 {
    .column-gap-$i { column-gap: $(i)rem; }
  }

  @for $i from 0 to 100 {
    .translate-left-$i { transform: translateX(-$(i)%); }
  }

  .break-inside-avoid {
    break-inside: avoid;
  }

  .break-inside-auto {
    break-inside: auto;
  }

  @for $i from 1 to 100 {
    .multiline-ellipsis-$i {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $i;
      /*! autoprefixer: ignore next */
      display: -webkit-box;
      white-space: normal;
    }
  }

  .fade-in {
    transition: opacity .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    will-change: opacity;
  }
}

@variants group-hover {
  .do-the-twist {
    transform: rotate(0deg);
    opacity: 1;
  }
}
.fade-in-twist {
  transform: rotate(-20deg);
  opacity: 0;
  transition: opacity .4s cubic-bezier(0.785, 0.135, 0.15, 0.86), transform 1s;
}

/*! Setting what 1rem is, Most tailwind sizing is specified in rems. */
html {
  font-size: 16px;
}

@tailwind utilities;

/* purgecss ignore */
#off-canvas-nav {
  transform: translate3d(100%, 0, 0);
  transition: transform 300ms ease-in-out;
}

/* purgecss ignore */
#off-canvas-search {
  transform: translate3d(100%, 0, 0);
  transition: transform 300ms ease-in-out;
}

/* purgecss ignore */
body.off-canvas-nav-open #off-canvas-nav {
  transform: translate3d(0, 0, 0);
}

/* purgecss ignore */
body.off-canvas-search-open #off-canvas-search {
  transform: translate3d(0, 0, 0);
}

[data-selector="nav"] [data-selector="nav-contents"] {
  transition: padding-top .4s ease-in-out, padding-bottom .4s ease-in-out;
}

/* purgecss ignore */
[data-selector="nav"].stuck [data-selector="nav-contents"] {
  @apply pt-4 pb-4 !important;
}

/* purgecss ignore */
[data-selector="nav"].stuck [data-selector="nav-border-bottom"] {
  @apply opacity-100;
}

/* purgecss ignore */
code {
  font-size: 90%;
}

/* purgecss ignore */
figcaption {
  font-size: 90%;
  font-style: italic;
}

.page-content {
  @apply text-black leading-relaxed;
}

.page-content h1 {
  @apply font-semibold my-4 text-md;
}

.page-content h2 {
  @apply font-semibold my-4 text-md;
}

.page-content h3 {
  @apply font-semibold my-4 text-bigger;
}

.page-content h4 {
  @apply font-semibold my-4 text-base;
}

.page-content h4.mb-0 {
  @apply mb-0;
}

.page-top a:not(.no-underline), .page-content a:not(.no-underline) {
  @apply text-blue;
}

.page-top a:hover, .page-content a:hover {
  @apply text-blue;
  @apply underline;
}

.page-content p {
  @apply pb-4;
}

.page-content figure {
  @apply pb-4;
}

.question {
  color: lime !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

ul {
  @apply p-4 ml-6 list-disc;
}

ul li li {
  list-style: circle;
}



/* Tutorials-specific styles */
img.post-logo {
  max-height: 60px;
  max-width: 200px;
}

#hex-bus {
  transform: translate(calc(-50% - 2px), calc(50% + 2px));
  width: 200px;
}
.tutorial-navigation {
  margin-bottom: 5rem;
}
.tutorial-navigation h3 {
  @apply relative;
  font-size:22px;
  border-bottom: 2px solid #FF9900;
}

.tutorial-navigation h3:after, .tutorial-navigation h3:before {
  @apply absolute;
  content: '';
  background-image: url(../images/tutorials/yellow-dot.png);
  display: block;
  height: 12px;
  width: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  bottom: -6px;
}

.tutorial-navigation h3:after {
  right: -1px;
  left: unset;
}
.core, .elective {
  width: 100%;
}

.elective h3:before {
  display: block;
}

.vector-pattern-left {
  transform:translateY(-45%);
}
.vector-pattern-right, .vector-pattern-left {
  width: 12vw;
  max-width: 300px;
}
.module-card p {
  margin-bottom: 1rem;
}

a.underline:hover {
  text-decoration: none;
}

.relevant-links li {
  list-style: none;
}

@media (min-width:768px) {

  .elective h3:before {
    display: none;
  }
}

@media (max-width:767px) {
  .tutorial-top-img {
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }

  #hex-bus {
    transform: translate(calc(-32% - 2px), calc(32% + 2px));
    height: 180px;
    width: 180px;
  }
}

/* Leaflet */
#mapid {
  @apply font-body;
}
#mapid a:not(.leaflet-popup-close-button):not(.leaflet-control-zoom-out):not(.leaflet-control-zoom-in) {
  @apply text-blue;
}
