<div class="max-w-screen mx-auto bg-gray-100 py-12 px-4 flex flex-col lg:flex-row md:px-12 mb-12 md:mb-32">
  <div class="mb-8 md:w-2/3 lg:w-1/3 lg:pr-8">
    <h2 class="font-bold text-md mb-4">Research areas</h2>
    <p class="mb-4">Our mission urges us to consider problems across multiple subject areas, both applied and theoretical.  We pursue these problems in the open and share our results in recorded talks and published papers.</p>
    <a href="/research/areas"><span class="text-blue hover:underline">Learn more</span> <img src="/icons/chevron-pink.svg" class="inline-block ml-1"></a>
  </div>

  <div class="lg:w-2/3 md:flex md:flex-row md:flex-wrap">
    {{ range where (where .Site.Pages "Type" "areas") ".Kind" "==" "taxonomyTerm"}}
      {{ range .Pages }}
        <div class="pb-8 md:w-1/2 md:odd:pr-4 md:even:pl-4 md:self-stretch group">
          <div class="block relative bg-white p-4 border-black border-t md:p-8 md:h-full">
            {{ range .Resources.Match "icon.*" }}
              <img class="absolute right-0 top-0 mt-3 mr-4 md:-mt-2 md:-mr-2 md:relative md:inline-block md:float-right" width="36px" src="{{ .RelPermalink }}">
            {{ end }}
            <h3 class="text-blue mb-4 text-bigger hover:underline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <p class="text-sm text-gray-700 multiline-ellipsis-6 overflow-hidden leading-relaxed">{{ .Summary }}</p>
          </div>
        </div>
      {{end}}
    {{end}}
  </div>
</div>
