<div class="relative overflow-hidden text-white mb-8" data-removal-target>
  <img class="object-cover h-full w-full absolute" src="/images/banners/event-banner@2x.jpg" >

  <div class="relative max-w-screen mx-auto z-10 flex flex-col p-4 md:flex-row md:items-center md:px-10 md:py-8 md:justify-between">
    <img on-click="removeParentTargetFromDom" class="absolute right-0 top-4 mr-4 md:top-0 lg:-mr-8 p-1 md:p-4" src="/images/icon/close.png" alt="Close button">

    <div class="mb-4 md:pr-4 md:mb-0">
      <h2 class="leading-tight font-bold text-md">The 3rd ZKProof Workshop 2020</h2>
      <p>Apr 4-6 2020 @IET London: Savory Place</p>
    </div>

    <p class="hidden md:block max-w-sm px-4 leading-normal text-sm">An open initiative for standardizing Zero Knowledge Proofs, with a growing and active community.</p>

    <div class="flex-shrink-0 md:ml-4">
      <button class="text-sm bg-transparent font-semibold py-2 px-3 border border-white-500 rounded shadow">
        Get your invite
        <img class="inline-block ml-2" src="/icons/chevron-white.svg" alt="">
      </button>
    </div>
  </div>
</div>
