<div class="relative max-w-screen mx-auto flex justify-center items-center md:justify-end overflow-hidden mb-12 py-12 md:py-0">
  <picture class="absolute left-0 right-0 top-0 bottom-0">
    <source media="(max-width: 768px)" srcset="/images/banners/people-banner@2x.jpg">
    <source media="(-webkit-min-device-pixel-ratio: 2, max-width: 768px)" srcset="/images/banners/people-banner.jpg">
    <source media="(-webkit-min-device-pixel-ratio: 2)" srcset="/images/banners/people-banner-desktop.jpg">
    <img class="object-cover object-center w-full min-h-full" src="images/banners/people-banner-desktop@2x.jpg">
  </picture>

  <div class="relative z-1 p-6 bg-white h-full mx-6 md:w-1/2 lg:w-1/3 md:bg-ed-200 md:m-10 flex-shrink-1 lg:max-h-full">
    <h2 class="font-bold text-md">Our People</h2>
    <p class="text-base leading-normal mt-5 mb-8 leading-relaxed">We're a fully remote team distributed across the globe. We work with talented and intellectually curious people of diverse backgrounds and perspectives who share a passion for improving technology for humanity.</p>

    <div class="">
      <a class="flex items-center text-blue hover:underline" href="/authors">
        <span>Meet the team</span>
        <img class="ml-2" src="/icons/chevron-blue.svg" >
      </a>
    </div>
  </div>
</div>
