<div class="max-w-screen mx-auto bg-gray-100 py-12 px-4 flex flex-col lg:flex-row md:px-12 mb-12 md:mb-32">
  <div class="mb-8 md:w-2/3 lg:w-1/3 lg:pr-8">
    <h2 class="font-bold text-md mb-4">Research areas</h2>
    <p class="mb-4">How do we make a Web that can’t be taken down? What might a human-readable hash-link look like? Problems like these at the front edge of technological research are our daily concern. </p>
    <a class="hover:text-pink" href="/research/areas">Learn more <img src="/icons/chevron-pink.svg" class="inline-block ml-1"></a>
  </div>

  <div class="lg:w-2/3 md:flex md:flex-row md:flex-wrap">
    {{range (where site.RegularPages "Type" "in" "research-areas")}}
      <div class="pb-8 md:w-1/2 md:odd:pr-4 md:even:pl-4 md:self-stretch group">
        <a href="{{ .RelPermalink }}" class="block relative bg-white p-4 border-black border-t md:p-8 md:h-full">
          {{ range .Resources.Match "icon.*" }}
            {{ $image := .Resize "36x" }}
            <img class="absolute right-0 top-0 mt-3 mr-4 md:-mt-2 md:-mr-2 md:relative md:inline-block md:float-right" src="{{ $image.Permalink }}">
          {{ end }}
          <h3 class="text-blue mb-4 text-bigger group-hover:underline">{{ .Title }}</h3>
          <p class="text-sm text-gray-600 multiline-ellipsis-6 overflow-hidden leading-relaxed">{{ .Summary }}</p>
        </a>
      </div>
    {{end}}
  </div>
</div>
