<div class="max-w-screen mx-auto my-16 px-4 flex flex-col flex-wrap md:flex-row md:px-12">
  <div class="w-full flex-shrink-0 pb-4">
    <h2 class="font-bold text-md mb-2">Abstract</h2>
    <img class="lg:py-2" src="/icons/mini-graphic-line.svg">
  </div>

  <div class="md:w-1/3">
    <p class="text-blue text-md leading-relaxed mb-4 md:w-4/5">A Dual-Process Approach for Automated Knowledge Creation</p>
    <img class="block mx-auto w-64 py-4 md:w-40" src="/images/banners/home-page-research-project@2x.png">
  </div>

  <div class="md:w-2/3 md:pl-8 lg:column-count-2 lg:column-gap-2">
    <p class="leading-relaxed pb-2">Theories across several fields within psychology have identified two distinct types of cognitive process. Type I Processes are automatic, use implicit knowledge, operate quickly, and provide intuitive results based on subconscious cognition. Type II processes are deliberative, use explicit knowledge, operate slowly, and require conscious effort. These processes frequently work synergistically, but evidence of their distinct workings appears in situations where the two offer conflicting solutions. Type I processes frequently respond to complex tasks by using simple heuristics that often contradict deliberative. Type II responses. By manipulating priming effects informing these heuristics, competing decision making processes can be assessed (Lucas 2005). Evidence for this dualism…</p>
    <a href="/about" class="underline text-blue lg:text-pink">View the poster</a>
  </div>
</div>
