{{ define "main" }}
  <div class="max-w-screen mx-auto px-4 md:px-10 pt-8">

    <div class="flex flex-col items-center lg:items-start lg:flex-row lg:justify-between">

      <div class="w-full mb-12 lg:w-3/5">

        {{ partial "post-data-strip" . }}

        <div class="text-lg md:text-larger mb-4 leading-tight">
          {{ .Title }}
        </div>

        {{ partial "page-metadata" . }}

        <div class="page-content font-light pt-8 mb-20">
          {{ .Content }}
        </div>

        <div class="flex flex-row justify-between">

          {{ if .NextInSection }}
            <a class="block mb-8 md:w-1/3 group" href="{{ .NextInSection.RelPermalink }}">
              <div class="font-bold group-hover:text-pink">
                <img class="inline-block align-middle rotate-180 mr-2" src="/icons/chevron-pink.svg">
                <span class="align-middle">Newer</span>
              </div>

              <div class="pl-5 text-blue group-hover:underline">{{ .NextInSection.Title }}</div>
            </a>
          {{ end }}

          {{ if .PrevInSection }}
            <a class="block pl-4 md:w-1/3 text-right ml-auto group" href="{{ .PrevInSection.RelPermalink }}">
              <span class="w-1/2 font-bold ml-auto order-2 group-hover:text-pink">
                <span class="align-middle">Older</span>
                <img class="inline-block align-middle ml-2" src="/icons/chevron-pink.svg">
              </span>

              <div class="pr-5 text-blue group-hover:underline">{{ .PrevInSection.Title }}</div>
            </a>
          {{ end }}
        </div>
      </div>

      <div class="w-full md:w-1/4 mb-12 pt-12">
        {{ partial "share-box" . }}
      </div>
    </div>
  </div>
{{ end }}
