{{ if .Params.authors }}
  <div class="flex flex-row items-center justify-start mb-4">
    {{ range .Params.authors }}
      {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
        {{ $author := . }}
        {{ range $author.Resources.Match "avatar" }}
          {{ $image := .Fit "40x40" }}
          <a class="mr-2" href="{{ $author.Permalink }}">
            <img class="rounded rounded-full inline mr-2" src="{{ $image.Permalink }}" alt="{{ .Params.alt }}">
            <span class="inline text-gray-600">{{ $author.Params.name}}</span>
          </a>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
