{{ if .Params.venue }}
  <div class="text-sm text-gray-700">
    <img class="inline-block mr-2" src="/images/icon/location.svg">
    {{ .Params.venue }} / {{ dateFormat "2006.01.02" (.Params.venue_date | default .Date) }}
    {{ if .Params.venue_location }}/ {{ .Params.venue_location }}{{ end }}
  </div>
{{ end }}

{{ if (and .Params.authors (partial "func/has-values" .Params.authors)) }}
  <div class="text-sm text-gray-700">
    <img class="inline-block mr-2" src="/images/icon/user.png">
    {{ $taxonomy := "authors" }}
    {{ with .Param $taxonomy }}
      {{ range $index, $value := . }}
        {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
        {{- $name := $profile_page.Params.name | default ($value|markdownify) -}}
        {{- if gt $index 0 }}, {{ end -}}
        <span class="inline-block mb-0">
          {{ if $profile_page.Params.name }}
            {{- with $profile_page -}}
              <a class="hover:text-blue" href="{{.RelPermalink}}">{{$name}}</a>
            {{ end }}
          {{- else -}}
            {{$name}}
          {{- end -}}
        </span>
      {{- end -}}
    {{ end }}
  </div>
{{ end }}


{{ if (and .Params.research_groups (partial "func/has-values" .Params.research_groups)) }}
  <div class="text-sm text-gray-700">
    <img class="inline-block mr-2" src="/images/icon/group.png">
    {{ $taxonomy := "research_groups" }}
    {{ with .Param $taxonomy }}
      {{ range $index, $value := . }}
        {{- $profile_page := site.GetPage (printf "/research_groups/%s" (. | urlize)) -}}
        {{- $name := $profile_page.Title | default ($value|markdownify) -}}
        {{- if gt $index 0 }}, {{ end -}}
        <span class="inline-block mb-0">
          {{ if $profile_page.Title }}
            {{- with $profile_page -}}
              <a class="hover:text-blue" href="{{.RelPermalink}}">{{$name}}</a>
            {{ end }}
          {{- else -}}
            {{$name}}
          {{- end -}}
        </span>
      {{- end -}}
    {{ end }}
  </div>
{{ end }}


{{ if (and .Params.research_areas (partial "func/has-values" .Params.research_areas)) }}
  <div class="text-sm text-gray-700">
    <img class="inline-block mr-2" src="/images/icon/tag.svg">
    {{ $taxonomy := "research_areas" }}
    {{ with .Param $taxonomy }}
      {{ range $index, $value := . }}
        {{- $profile_page := site.GetPage (printf "/research_areas/%s" (. | urlize)) -}}
        {{- $name := $profile_page.Title | default ($value|markdownify) -}}
        {{- if gt $index 0 }}, {{ end -}}
        <span class="inline-block mb-0">
          {{ if $profile_page.Title }}
            {{- with $profile_page -}}
              <a class="hover:text-blue" href="{{.RelPermalink}}">{{$name}}</a>
            {{ end }}
          {{- else -}}
            {{$name}}
          {{- end -}}
        </span>
      {{- end -}}
    {{ end }}
  </div>
{{ end }}
