<div class="text-sm text-gray-700 mb-1">
<span>{{ .Date.Format .Site.Params.DateForm }}</span>

{{ if .Params.categories }}
<span class="mx-0 text-blue">/</span>

<span>
{{- $taxonomy := "categories" -}}
  {{- with .Param $taxonomy -}}
  {{- range $index, $value := . -}}
  {{- $category_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- if gt $index 0 }}, {{ end -}}
      {{- with $category_page -}}
      <a class="hover:text-blue" href="{{.RelPermalink}}">{{$value | humanize}}</a>
      {{- end -}}
    {{- end -}}
  {{- end -}}
</span>
{{ end }}

</div>
