<div class="block"></div>

<nav class="w-full top-0 z-30 bg-white opacity-100 text-big" data-selector="nav" on-swipe-left="toggleOffCanvasNav">
  <div class="z-50 max-w-screen mx-auto px-4 md:px-10 py-4 md:py-8 flex justify-end items-center" data-selector="nav-contents">
    <a href="/" class="flex items-center mr-auto">
      <img src="/images/pl_research_logo.svg" class="h-20 md:h-24" alt="Protocol Labs Research">
    </a>

    <div class="h-8 flex items-center md:hidden mt-0 pt-1" on-click="toggleOffCanvasNav">
      <img src="/icons/menu.png" width="20px">
    </div>

    <div class="hidden md:flex items-center w-auto -mr-4">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <div class="group relative inline-block align-middle mt-0 hover:text-blue">
          <a href="{{ .URL }}" class="relative inline-block mx-4 align-middle">
            <span>{{ .Name }}</span>

            {{ if .HasChildren }}
              {{partial "icons/triangle-down.svg" (dict "class" "inline-block fill-current ml-1")}}
            {{end}}

            {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (in $currentPage.RelPermalink .URL) }}
              <div class="absolute inset-x-0 border border-black"></div>
            {{end}}
          </a>

          {{ if .HasChildren }}
            <div class="hidden group-hover:block absolute top-100 bg-black w-40 p-4 z-30">
              {{ range .Children }}
                <a href="{{ .URL }}" class="relative block mt-0 hover:text-blue align-middle text-white mb-4">
                  <span>{{ .Name }}</span>

                  {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (in $currentPage.RelPermalink .URL) }}
                    <div class="absolute inset-x-0 border border-white"></div>
                  {{end}}
                </a>
              {{ end }}
            </div>
          {{end}}
        </div>
      {{ end }}
    </div>
    <div class="h-8 flex items-center ml-8 mt-0 pt-1" id="search-button" onclick="showOffCanvasSearch()">
      <!-- Replace png with svg -->
      <img src="/icons/search.png" width="20px">
    </div>
  </div>

</nav>
