<div class="text-sm text-gray-600">{{ .Date.Format .Site.Params.DateForm }}</div>

{{ if (index .Params "research-areas") }}
  <div class="block">
    <img class="inline-block mr-2" src="/images/icon/tag.svg">
    {{ range $index, $value := (index .Params "research-areas") }}
      {{ if gt $index 0 }}
        <span class="text-gray-600">,</span>
      {{ end }}
      {{ with $.Site.GetPage "taxonomyTerm" (printf "research/areas/%s" (urlize $value )) }}
        <a href="{{ .RelPermalink }}" class="inline-block text-sm text-gray-600 hover:text-blue">
          <span class="underline capitalize">{{ humanize .Title }}</span>
        </a>
      {{ end }}
    {{ end }}
  </div>
{{ end }}

{{ if .Params.event }}
  <div class="text-sm text-gray-600">
    <img class="inline-block mr-2" src="/images/icon/location.svg">
    {{ .Params.event }}
  </div>
{{ end }}
