<div class="w-full relative py-10 px-4 md:px-0" style="margin-bottom:-6rem;">
  <img class="object-cover h-full w-full absolute top-0 left-0" src="/images/banners/footer-top-banner.png" >

  <div class="max-w-screen mx-auto relative flex flex-row flex-wrap text-white text-center">

    <div class="md:w-1/2 p-6">
      <h2 class="text-lg pb-4">Want to really nail it?</h2>
      <p class="pb-4 mb-4">Let us deliver the course to your lab live with extra features, plenty of time for Q&A and and a top-notch hands-on component! Fill in the form to get the discussion going.</p>
      <div>
        <a class="text-sm text-teal bg-white font-semibold py-2 px-3 border border-white rounded" href="/">Need a Link</a>
      </div>
    </div>

    <div class="md:w-1/2 p-6">
      <h2 class="text-lg pb-4">Get involved!</h2>
      <p class="pb-4 mb-4">Submit your protocol improvement idea, collaboration opportunity, or question in our Github Discussion Forum. You can also reach out by email at: resnetlab [@] protocol.ai.</p>
      <div>
        <a class="text-sm text-teal bg-white font-semibold py-2 px-3 border border-white rounded" href="/">Need a link 2</a>
      </div>
    </div>

  </div>
</div>
