<div class="page-top mb-4 flex flex-wrap">

  {{ range .Resources.Match "featured.*" }}
    <div class="pt-8 px-4 lg:px-0  md:w-1/2 lg:w-5/12 lg:order-last" >
      <img class="" src="{{ .RelPermalink }}" alt="{{ .Title }}">
    </div>
  {{ end }}

  <div class="pt-8 px-4 md:pl-0 md:w-1/2 lg:w-7/12">
    <h1 class="text-md font-bold">
      {{ .Title | title }}
    </h1>
    <div class="text-lg md:text-larger mb-4 leading-tight">
      {{ .Params.tutorialSeries | markdownify }}
    </div>
    <div class="font-light text-almost-black text-md">{{ .Description | markdownify }}</div>
  </div>


</div>
