<div class="w-full relative py-10 px-4 md:px-0" style="margin-bottom:-6rem;">
  <img class="blue-bg-img object-cover h-full w-full absolute top-0 left-0" src="/images/banners/footer-top-banner.png" >

  <div class="max-w-screen mx-auto relative flex flex-row flex-wrap text-white text-center">

    <div class="md:w-1/2 p-6 mb-8 md:mb-0">
      <h2 class="text-lg pb-4 px-6 mx-6">We'd love to see you live!</h2>
      <p class="pb-4 mb-4 text-md font-light px-6 mx-6">Let us deliver the course to your lab live with extra features, plenty of time for Q&A and and a top-notch hands-on component! Fill in the form to get the discussion going.</p>
      <div>
        <a class="text-sm text-teal bg-white font-semibold py-2 px-3 border border-white rounded" href="https://docs.google.com/forms/d/e/1FAIpQLSdxIgPmfuh8wy-4NRRg7jsmQ5JuqmBBtmAkSD9hvRW6AiO9qw/viewform?usp=sf_link">Get In Touch</a>
      </div>
    </div>

    <div class="md:w-1/2 p-6">
      <h2 class="text-lg pb-4 px-6 mx-6">Get involved!</h2>
      <p class="pb-4 mb-4 text-md font-light px-6 mx-6">Ask your question, submit your protocol improvement idea, or just let us know of what related projects you're working on through our Github Discussion Forum. You can also reach out by email at: <a class="underline hover:no-underline" href="mailto:renetlab@protocol.ai">resnetlab@protocol.ai</a>.</p>
      <div>
        <a class="text-sm text-teal bg-white font-semibold py-2 px-3 border border-white rounded" href="https://github.com/protocol/ResNetLab/discussions/categories/resnetlab-on-tour-tutorial-q-a">Get Involved</a>
      </div>
    </div>

  </div>
</div>
