<div class="logos-loop text-center mt-8 pt-8 mb-20">
  <h3 class="text-md p-4 font-light lg:w-2/3 mx-auto">We are participating in one event per month on average and so far, we’ve been at more than 10 events!</h3>

  <div class="flex flex-wrap justify-center mx-auto" style="max-width: 860px;">
    <div class="px-4 pt-8 mb-6 flex items-center">
      <img class="mx-4 post-logo" src="../../images/tutorials/acm-icn19.png" aria-label="ACM ICN 2019 Logo" alt="conference logo">
    </div>
    <div class="px-4 pt-8 mb-6 flex items-center">
      <img class="mx-4 post-logo" src="../../images/tutorials/ready-layer-one.png" aria-label="ReadyLayerOne Logo" alt="conference logo">
    </div>

    {{ range where .Site.Pages "Section" "posts"}}
      {{ if in .Params.tags "resnetlab-on-tour" }}
        {{ partial "post-logo" . }}
      {{ end }}
    {{ end }}
  </div>
</div>
