<div class="mb-20 lg:px-0 map">

  <div class="md:flex md:flex-row md:flex-nowrap relative mb-0 border-4 mx-6 lg:mx-0 md:px-0 " style="border-color: #29d2ef;">
    <img id="hex-bus" class="absolute z-20 left-0 bottom-0" src="/images/tutorials/hex-bus.png">

    <div class="block relative z-30 md:w-1/2 lg:w-5/12 md:mb-10 p-8 md:pr-4">
      <h2 class="text-md font-bold mb-4">See where we’ve been!</h2>
      <p class="mb-4">Despite the COVID restrictions, we have been on a virtual tour throughout 2020 and 2021 and have talked at more than 10 events! Check the blogposts we published after every event to find out more about the event, as well as detailed answers to the questions we received after our talks.</p>
      <p class="mb-4">
        <a class="text-blue hover:underline"  href="/blog/">Read the Blog</a>
      </p>
    </div>

    <div class="block md:w-1/2 lg:w-7/12 relative z-10 p-8 -mt-4 md:mt-0 md:pt-8 md:pl-4">
      <div id="mapid" style="height: 330px;"></div>
    </div>
  </div>
</div>

<script>


  // TO ADD NEW LOCATIONS:
  // to add a new map marker, add a new object with content like this:
  // {
  //   name: 'Event Name',
  //   locale: [longitude, latitude],
  //   isUpcoming: false,
  //   url: 'https://google.com'
  // }
  //
  // make sure each object in the locations array ends with a comma (to separate the objects), except for the final one
  // the first location in the array will begin with its popup open

  //  ADD NEW LOCATIONS HERE:
  let locations = [
    {
      name: 'ACM ICN 2019',
      locale: [22.1987, 113.5439],
      isUpcoming: false,
      url: 'https://conferences2.sigcomm.org/acm-icn/2019/'
    },
    {
      name: 'NDN Project',
      locale: [32.2319, -110.9501],
      isUpcoming: false,
      url: 'https://named-data.net/'
    },
    {
      name: 'IEEE ICBC 2020',
      locale: [45.5, -73.56],
      isUpcoming: false,
      url: 'https://icbc2020.ieee-icbc.org/'
    },
    {
      name: 'IEEE/IFIP DSN 2020',
      locale: [39.469906, -0.376],
      isUpcoming: false,
      url: 'https://dsn2020.webs.upv.es/'
    },
    {
      name: 'CNSM 2020',
      locale: [38.423733, 27.142826],
      isUpcoming: false,
      url: 'http://www.cnsm-conf.org/2020/'
    },
    {
      name: 'IEEE Globecom 2020',
      locale: [25.0329, 121.565],
      isUpcoming: false,
      url: 'https://globecom2020.ieee-globecom.org/'
    },
    {
      name: 'FOSDEM 2021',
      locale: [50.85, 4.35],
      isUpcoming: false,
      url: 'https://fosdem.org/2021/'
    },
    {
      name: 'ETHIndia',
      locale: [22, 77],
      isUpcoming: false,
      url: 'https://devfolio.co/blog/devfolio-ethereum-india-fellowship-2-0-is-here/'
    },
    {
      name: 'ICIN 2021',
      locale: [48.856, 2.35],
      isUpcoming: false,
      url: 'https://www.icin-conference.org/'
    },
    {
      name: 'UCL ICCS',
      locale: [51.507, 0.1278],
      isUpcoming: false,
      url: 'https://www.ucl.ac.uk/iccs/events/2021/mar/online-seminar-filecoin-decentralised-data-storage-and-delivery-market'
    }
  ]



  // DONT TOUCH THINGS BELOW THIS LINE UNLESS YOU CAN CODE JAVASCRIPT
  // Leaflet map setup

  var mymap = L.map('mapid').setView([51.5, 0.12], 1);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      minZoom: 1,
      id: 'suzannabustout/ckmw829y018vl17qcn6exjhnk',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1Ijoic3V6YW5uYWJ1c3RvdXQiLCJhIjoiY2ttdGtxdTNjMHNmNjMwbXhvN2M2MGo0diJ9.hprt_uE-i0FE1889Z6Plqg'
  }).addTo(mymap);

  var LeafIcon = L.Icon.extend({
    options: {
      iconUrl: '/images/tutorials/map-marker-green.png',
      iconSize:     [18, 18], // size of the icon
    }
  });

  var greenIcon = new LeafIcon({iconUrl: '/images/tutorials/map-marker-green.png'}),
    purpleIcon = new LeafIcon({iconUrl: '/images/tutorials/map-marker-purple.png'});




  // Create markers from Locations array

  for (var i = 0; i < locations.length; i++) {

    let theIcon = purpleIcon;
    if (locations[i].isUpcoming){
      theIcon = greenIcon;
    }

    let popupMessage = locations[i].name;
    if (locations[i].url.length > 1){
      popupMessage = '<a class="underline" href="' + locations[i].url + ' " target="_blank">' + locations[i].name + '</a>';
    }
    if (i === 0) {
      marker = new L.marker(locations[i].locale, {icon: theIcon} )
        .bindPopup(popupMessage)
        .addTo(mymap)
        .openPopup();
    } else {
    marker = new L.marker(locations[i].locale, {icon: theIcon} )
      .bindPopup(popupMessage)
      .addTo(mymap)
    }
  }



</script>
