{{ define "main" }}

<div class="max-w-screen mx-auto pt-4 md:px-10">
  {{ partial "page-top" . }}

  <div class="max-w-screen mx-auto mb-6 pt-12">
    <div class="flex flex-row items-center justify-between mb-0 px-4 md:px-0">
      <div class="block">
        <h2 class="text-md font-bold">Research Groups</h2>
        <img class="block" src="/icons/mini-graphic-line.svg">
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:flex-wrap md:-mx-8 mb:12">
    {{ range where (where .Site.Pages "Type" "groups") ".Kind" "==" "taxonomy"}}
      {{ range sort ((where .Pages ".Params.archived" "!=" true)) ".Title" "asc"}}
        {{ partial "research-taxonomy-card-half" .}}
      {{ end }}
    {{ end }}
    </div>
  </div>

  <div class="max-w-screen mx-auto mb-6">
    <div class="flex flex-row items-center justify-between mb-0 px-4 md:px-0">
      <div class="block">
        <h2 class="text-md font-bold">Research Areas</h2>
        <img class="block" src="/icons/mini-graphic-line.svg">
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:flex-wrap md:-mx-8">
    {{ range where (where .Site.Pages "Type" "areas") ".Kind" "==" "taxonomy"}}
      {{ range sort ((where .Pages ".Params.archived" "!=" true)) ".Title" "asc"}}
        {{ partial "research-taxonomy-card-half" .}}
      {{ end }}
    {{ end }}
    </div>
  </div>


  <div class="max-w-screen mx-auto mb-6">
    <div class="flex flex-row items-center justify-between mb-0 px-4 md:px-0">
      <div class="block">
        <h2 class="text-md font-bold">Recent Talks</h2>
        <img class="block" src="/icons/mini-graphic-line.svg">
      </div>

      <a class="block text-sm hover:text-blue" href="/research/talks">View all talks<img class="inline-block pl-2" src="/icons/chevron-pink.svg"></a>
    </div>

    <div class="flex flex-col md:flex-row md:-mx-4 mb-12">
      {{ range first 2 (where .Site.RegularPages "Type" "talks") }}
        <div class="w-full md:w-1/2">
          {{ partial "talk-card" . }}
        </div>
      {{ end }}
    </div>
  </div>

  <div class="max-w-screen mx-auto mb-6">
    <div class="flex flex-row items-center justify-between mb-0 px-4 md:px-0">
      <div class="block">
        <h2 class="text-md font-bold">Recent Publications</h2>
        <img class="block" src="/icons/mini-graphic-line.svg">
      </div>

      <a class="block text-sm flex-shrink-0 hover:text-blue" href="/research/publications">View all publications<img class="inline-block pl-2" src="/icons/chevron-pink.svg"></a>
    </div>

    <div class="flex flex-col flex-wrap md:flex-row md:-mx-8">
      {{ range first 4 (where .Site.RegularPages "Type" "publications") }}
        <div class="w-full md:w-1/2 md:p-4">
          {{ partial "publication-card" . }}
        </div>
      {{ end }}
    </div>
  </div>

</div>

{{ end }}
