{{define "main"}}
  <div class="max-w-screen mx-auto pt-4 px-4 md:px-10">
    <div class="mb-12">
      {{ partial "breadcrumbs" . }}
    </div>

    <div class="-mx-4 md:mx-0">
      {{ partial "page-top" . }}
    </div>

    <div class="page-content mb-8">
      {{ .Content }}
    </div>

    {{ range .Params.authors }}
      {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
        {{ $author := . }}
        {{ range $author.Resources.Match "avatar" }}
          {{ $image := .Fit "40x40" }}
          <a class="inline-flex flex-row items-center mb-8" href="{{ $author.Permalink }}" data-tooltip="{{ $author.Params.name }}" data-inverted>
            <img class="block rounded rounded-full mr-2" src="{{ $image.Permalink }}" alt="{{ .Params.alt }}">

            <div class="block">
              <div class="text-blue">{{ $author.Params.name}}</div>
              <div class="text-gray-600 text-sm">{{ $author.Params.role }}</div>
            </div>
          </a>
        {{ end }}
      {{ end }}
    {{ end }}

    <div class="md:flex">
      <div class="md:w-2/3">
        <div class="flex max-w-md">
          <p class="w-1/2 text-sm text-gray-600">Event</p>
          <p class="w-1/4 text-sm text-gray-600">Date</p>
          <p class="w-1/4 text-sm text-gray-600">Location</p>
        </div>
        <div class="flex max-w-md mb-8">
          <p class="w-1/2 text-sm text-gray-600 font-bold">{{ .Params.event }}</p>
          {{ if .Params.venue_date }}
            <p class="w-1/4 text-sm text-gray-600 font-bold">{{ dateFormat "2006.01.02" .Params.event_date }}</p>
          {{ else }}
            <p class="w-1/4 text-sm text-gray-600 font-bold">{{ .Date.Format "2006.01.02" }}</p>
          {{ end }}
          <p class="w-1/4 text-sm text-gray-600 font-bold">{{ .Params.event_location }}</p>
        </div>

        <p class="font-light text-md leading-relaxed text-gray-dark mb-20 md:mb-32">{{ .Params.abstract }}</p>
      </div>

      <div class="bg-gray-300 border-black border-solid border-t-2 pb-8 mb-12 md:w-1/3 md:ml-16">
        {{ partial "share-box" . }}
      </div>
    </div>
  </div>
{{ end }}
