{{define "main"}}
  <div class="max-w-screen mx-auto pt-4 px-4 md:px-10">

    <div class="-mx-4 md:mx-0">
      {{ partial "page-top" . }}
    </div>

    <div class="page-content mb-8">
      {{ .Content }}
    </div>

    <div class="md:flex">
      <div class="md:w-2/3">
        {{ partial "page-metadata" . }}

        <p class="page-content leading-relaxed pt-8 mb-20 md:mb-32">{{ .Params.abstract }}</p>
      </div>

      <div class="bg-gray-300 pb-8 mb-12 md:w-1/3 md:ml-16">
        {{ partial "share-box" . }}
      </div>
    </div>
  </div>
{{ end }}
