{{ define "main" }}

  <div class="max-w-screen mx-auto md:px-10 mb-12">

    {{ partial "page-top" . }}

    <div class="md:flex">
      <div class="py-12 md:pb-20 flex flex-col md:w-4/5 md:flex-row md:justify-between">
        <div class="text-left pt-8 mb-8">
          <p>General inquiries</p>
          <a href="mailto:research@protocol.ai" class="font-light text-blue text-lg">research@protocol.ai</a>
        </div>
        <div class="text-left pt-8 mb-8">
          <p>RFP program</p>
          <a href="mailto:rfp@protocol.ai" class="font-light text-blue text-lg">rfp@protocol.ai</a>
        </div>
        <div class="text-left pt-8 mb-8">
          <p>Career opportunities</p>
          <a href="https://jobs.lever.co/protocol" class="font-light text-blue text-lg">Lever</a>
        </div>
      </div>
    </div>

    <div class="bg-gray-300 mx-auto">
      <form class="py-12 px-4 w-full max-w-md mx-auto md:mb-40" action="https://app.99inbound.com/api/e/tLKXruHk" method="POST" target="_blank">
        <legend class="text-md font-bold pb-4 mx-auto">Shoot us a message</legend>

        <div class="mb-12 focus-within:text-blue-500">
          <label class="text-sm block" for="">Name</label>
          <input class="placeholder-gray bg-gray-300 w-full border-gray-dark border-b-2 leading-loose focus:border-blue-500" type="text" name="name" placeholder="Full name">
        </div>

        <div class="mb-12 focus-within:text-blue-500">
          <label class="text-sm block mb-4" for="">Email</label>
          <input class="placeholder-gray bg-gray-300 w-full border-gray-dark border-b-2 leading-loose focus:border-blue-500" type="email" name="email" placeholder="name@email.com">
        </div>

        <div class="mb-12 focus-within:text-blue-500">
          <label class="text-sm block mb-4" for="">Message</label>
          <textarea class="placeholder-gray bg-gray-300 w-full border-gray-dark border-b-2 resize-y focus:border-blue-500" name="message" rows="2" cols="80" placeholder="Tell us a little bit more..."></textarea>
        </div>

        <button class="font-bold bg-blue text-white text-bigger w-full py-4 my-8" type="submit" name="button">Send</button>
      </form>
    </div>
  </div>

{{ end }}
