name: Auto assign blog items to project

on:
  issues:
    types: [labeled]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to project
    steps:
    - name: Assign issues and pull requests with `blog` label to the blog board
      uses: srggrs/assign-one-project-github-action@1.2.0
      if: |
        contains(github.event.issue.labels.*.name, 'blog') ||
        contains(github.event.pull_request.labels.*.name, 'blog')
      with:
        project: 'https://github.com/protocol/research-website/projects/1'
        column_name: 'New'

