# This is a basic workflow to help you get started with Actions

name: Auto Assign to Projects

on:
  issues:
    types: [opened, labeled]
  pull_request:
    types: [opened, labeled]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to One Project
    steps:
    - name: Assign issues and pull requests with `blog` label to the blog board
      uses: srggrs/assign-one-project-github-action@1.2.0
      if: |
        contains(github.event.issue.labels.*.name, 'blog') ||
        contains(github.event.pull_request.labels.*.name, 'blog')
      with:
        project: 'https://github.com/srggrs/assign-one-project-github-action/projects/1'
        column_name: 'Upcoming'
